:markdown
  We have long names
  ==================

  *Visnu Ted Pitiyanuvath* has the longest last name at fortnight labs.  He
  mistakenly formatted his first harddrive when he was 11 and regretably
  got into war dialing the year caller id was introduced.

  While getting his BS in EECS at Duke, Visnu realized people actually could
  make a living programming computers, so he promptly moved to Boston to found
  an internet start-up. Soon after, he found himself on the streets of San
  Francisco using machine-learning techniques to create resume parsers for
  Guru and Unicru.

  Visnu successfully navigated the Silicon Valley start-up stream and
  eventually came out leading engineering and later heading up the company
  as CEO of Swivel, a website for sharing graphs and numbers.

  Nowadays, Visnu builds websites. No, Visnu creates web experiences. He's
  one of the few polymaths who can move from backend development through
  front-end design like a knife slices through butter, except Visnu's more
  smooth. Oh, and Visnu can solve a Rubik's cube in less time than it takes
  you to to spell "Rubik's cube." His favorite number is e.

  *Gerard Guillaume Jacques Suyderhoud IV* has the longest full name at
  fortnight labs.  When he wasn't at band camp, Gerad grew up spending
  his summers studying statistics and hacking assembly games for his
  calculator.

  While studying Computer Science and Economics at Stanford, Gerad realized
  that data analysis was going to be big–rock star big–and given his stint
  at band camp, Gerad knew he'd fit the gig.

  Gerad got into the data game as an economic analyst at Cornerstone Research,
  where he helped win a Supreme Court case and inspired one of his to co-workers
  name his first-born "Gerad."  Next, Gerad decided to try marketing on for size,
  so he went to work at Apple. At Apple, Gerad did quantitative marketing,
  running analyses and list selections, as well as leading the developments of
  data marts, warehouses and occasionally log cabins.

  Wanting to move on to the new new, Gerad found Swivel, where he returned to
  his roots as a developer before quickly becoming the product manager. Eventually,
  he became Visnu's right-hand man, and all-around business guy for the company,
  while still writing his fair share of code.

  Nowadays, Gerad watches in awe while Visnu builds web experiences. He also slices
  and dices the numbers, listens to the customers, and writes his fair share of code.
  Gerad can run a half-marathon at a 7 minute pace, ski the gnarliest powder, throw
  a 360 wakeboarding, and still manage to look unatheletic.  His favorite number is i.

.notes
  :markdown
    cold fusion: after that  
    this is solvable.
