:markdown
  We have long names
  ==================

  *Visnu Ted Pitiyanuvath* has the longest last name at fortnight labs.  He
  mistakenly formatted his first harddrive when he was 11 and made the mistake
  of getting into war dialing the first year caller id was introduced.  While
  getting his BS in EECS at Duke, he realized people actually make money
  programming computers, promptly moved to Boston to found an internet
  start-up, and soon after found himself in San Francisco writing
  machine-learned resume parsers for Guru and Unicru.  Nowadays, Visnu writes
  lots of code at Swivel. He can solve a Rubik's cube and his favorite number
  is e.

  *Gerard Guillaume Jacques Suyderhoud III* is a data bad-ass. Don't fuck with
  him and R; you'll end up lacking eyebrows. Tales tell of Gerad at Stanford,
  where he doesn't do 4.0 GPAs. He does 4.3 GPAs. He was the corner in
  Cornerstone Research and how do you think the apple got a bite taken out of
  it at Apple? Gerad was hungry. And he knows German. Fuck that, German knows
  Gerad.

.notes
  :markdown
    cold fusion, after that  
    this is solvable.
