:markdown
  <span class="logo">*fortnight* labs</span> makes websites
  ==============================

  President Obama declared today that “a sense of purpose that transcends petty
  politics” must be forged by Democrats and Republicans to create more jobs,
  reduce the deficit and find at least some common ground on health care.

  “We can’t afford grandstanding at the expense of actually getting something
  done,” Mr. Obama said as he made a surprise appearance at the daily White
  House briefing for the media only hours after he convened his first monthly
  bipartisan meeting he called for in the State of the Union address.

  The president praised Republican leaders for coming to the White House on a
  snowy day in Washington. He said the meeting went so well that Senator Harry
  Reid, the Democratic leader, and Senator Mitch McConnell, the Republican
  leader, were “out doing snow angels together on the South Lawn.”
