:markdown
  We do awesome
  =============

  Awesome things don't get done by themselves; they get made in laboratories.
  We [create stuff](/portfolio) because we want to use the things we create.
  [Write to us](/contact) if you wish to collaborate. If you don't believe a
  website on the internet, then [who can you trust](/about)?

.notes
  :markdown
    *Soothsayer*  
    Beware the ides of March.  
    *CAESAR*  
    He is a dreamer;  
    let us leave him: pass.
