:markdown
  this is *fortnight*labs

  President Obama declared today that “a sense of purpose that transcends petty
  politics” must be forged by Democrats and Republicans to create more jobs,
  reduce the deficit and find at least some common ground on health care.

  “We can’t afford grandstanding at the expense of actually getting something
  done,” Mr. Obama said as he made a surprise appearance at the daily White
  House briefing for the media only hours after he convened his first monthly
  bipartisan meeting he called for in the State of the Union address.

  The president praised Republican leaders for coming to the White House on a
  snowy day in Washington. He said the meeting went so well that Senator Harry
  Reid, the Democratic leader, and Senator Mitch McConnell, the Republican
  leader, were “out doing snow angels together on the South Lawn.”

  But his laughter gave way to a forceful message, saying that bipartisanship
  was a two-way street and neither side – including Democrats – could get their
  way. He said there needed to be at least some cooperation, but he offered no
  specifics.

  “Bipartisan can’t be that I agree to all the things that they believe in or
  want and they agree to none of the things that I want,” Mr. Obama said.

  The president took several questions from behind the lectern in the White
  House briefing room, the first time he has appeared before reporters in a
  formal setting in months. The appearance by Mr. Obama had the effect of
  giving him the final word after the bipartisan meeting of lawmakers a few
  hours earlier.

  It was the latest effort in a revised White House approach for the president
  to appear more transparent and more bipartisan in the second year of his
  term. He touched upon health care, saying that he would be willing to
  consider tort reform in the overall debate on expanding coverage and bringing
  down the costs of health care, but he said Republicans needed to consider
  some of the Democratic ideas.

  “Bipartisanship cannot mean simply that Democrats give up everything that
  they believe in,” Mr. Obama said. He added, “That’s not how it works in any
  other realm of life. That’s certainly not how it works in my marriage with
  Michelle. There’s got to be some give and take.”

  His bipartisan appeal came with sharp words for Republicans, whom he asked to
  stop blocking the confirmation of his administration appointees. He said he
  would consider making appointments during recess – a prerogative of the
  president – if Republicans did not give in.

  Senator Richard Shelby, Republican of Alabama, had placed a hold on most of
  the president’s nominees, delaying the Senate from acting on them. But Mr.
  Shelby announced Monday evening that he would reverse course on most of the
  70 nominees and allow their confirmations to proceed.

  “In our meeting, I asked the Congressional leadership to put a stop to these
  holds in which nominees for critical jobs are denied a vote for months,” Mr.
  Obama said. “Surely we can set aside partisanship and do what’s traditionally
  been done to confirm these nominations. If the Senate does not act – and I
  made this very clear – if the Senate does not act to confirm these nominees,
  I will consider making several recess appointments.”

  The president said he looked forward to the bipartisan health care session on
  Feb. 25, an opportunity for Republicans and Democrats to sit down together –
  in a televised session – and share ideas on health care. He said he would be
  willing to start from scratch, but only if the goals of the legislation
  remained the same.

  Mr. Obama said the meeting should be a serious discussion, which ultimately
  included cracking down on insurance industry practices, lowering health are
  costs and expanding access to coverage.

  “My hope is this doesn’t end up being political theater,” Mr. Obama said. He
  added, “We have an obligation, both parties, to tackle this issue in a
  serious way.”
