:markdown
  We make websites
  ================

  Awesome websites things don't get made by themselves; they get made in
  laboratories.

  We [create stuff](/portfolio) for ourselves and help others create their
  own ideas. We handle everything from product definition through to
  implementation. [Write to us](/contact) if you wish to collaborate or [learn
  more](/about) about us.

.notes
  :markdown
    *Soothsayer*  
    Beware the ides of March.  
    *CAESAR*  
    He is a dreamer;  
    let us leave him: pass.
