:markdown
  We make websites
  ================

  Awesome websites things don't get made by themselves; they get made in
  laboratories.

  We [create stuff] for ourselves and help others create their own ideas. We
  handle everything from product definition through to implementation. [Write
  to us] if you wish to collaborate or [learn more] about us.

  Yes, [we][create stuff] ran [Node.js Knockout].

  [create stuff]: /portfolio
  [write to us]: /contact
  [learn more]: /about
  [Node.js Knockout]: http://nodeknockout.com

.notes
  :markdown
    *Soothsayer*  
    Beware the ides of March.  
    *CAESAR*  
    He is a dreamer;  
    let us leave him: pass.
