:markdown
  We make things for ourselves
  ============================

  ![pinkyurl screenshot](/images/screenshots/pinkyurl.png)
  [pinkyurl](http://pinkyurl.com)
  -------------------------------
  Need a snapshot of a website? There's a REST API for that.

  ![prole screenshot](/images/screenshots/blank.png)
  [prole](http://proleapp.com)
  ----------------------------
  Monitor your servers before you can even say &ldquo;monitor."

  ![lazeroids screenshot](/images/screenshots/lazeroids.png)
  [LAZEROIDS!](http://www.lazeroids.com)
  -------------------------------------
  LAZEROIDS! is a never-ending, peer-to-peer, multiplayer asteroids game. Shoot your friends!! Avoid the asteroids!!!

  ![gentrify screenshot](/images/screenshots/blank.png)
  [Gentrify](http://www.gentrifire.com)
  -------------------------------------
  Gentrify helps the elite urban bourgeois find their natural habitats.

  ![munistop screenshot](/images/screenshots/blank.png)
  [munistop](http://www.munistop.com)
  ---------------------------------------
  Wicked fast SF muni tracking for your iPhone.

  ![postalgone screenshot](/images/screenshots/blank.png)
  [postal gone](http://www.postalgone.com)
  ---------------------------------------
  Making it easier to go postal.

  <span id="others">And we make things for others</span>
  =============================

  ![swivel screenshot](/images/screenshots/swivel.png)
  [Swivel](http://www.swivel.com)
  -------------------------------
  See, understand, and share your numbers. Swivel is a website where people
  share reports of charts and numbers.

  ![happytrack screenshot](/images/screenshots/happytrack.png)
  [Track Your Happiness](http://www.trackyourhappiness.org/)
  ------------------------------------------------
  Track Your Happiness.org is a new scientific research project that
  investigates what makes life worth living.

  ![theglamourist screenshot](/images/screenshots/theglamourist.png)
  [the glamourist](http://theglamourist.com/)
  ------------------------------------------------
  This site has been designed to keep you informed of my latest work,
  experiences, stories and as an avenue to view my portfolio.

.notes
  :markdown
    the margin is too small  
    to contain such  
    awesomeness
