:markdown
  We make things for ourselves
  ============================

  [pinkyurl](http://pinkyurl.com)
  -------------------------------
  Need a snapshot of a website? There's a REST API for that.

  [prole](http://proleapp.com)
  ----------------------------
  Monitor your servers before you can even say "monitor."

  [lazeroids](http://www.lazeroids.com)
  -------------------------------------
  LAZEROIDS! is a never-ending, peer-to-peer, multiplayer asteroids game. Shoot your friends!! Avoid the asteroids!!!

  [gentrify](http://www.gentrifire.com)
  -------------------------------------
  Gentrify helps the elite urban bourgeois find their natural habitats.

  [munistop](http://www.munistop.com)
  ---------------------------------------
  Wicked fast SF muni tracking for your iPhone.

  [postal gone](http://www.postalgone.com)
  ---------------------------------------
  Making it easier to go postal.

  And we make things for others
  =============================

  [swivel](http://www.swivel.com)
  -------------------------------
  See, understand, and share your numbers.

  [happytrack](http://www.trackyourhappiness.org/)
  ------------------------------------------------
  Track Your Happiness.org is a new scientific research project that investigates what makes life worth living.

  [the glamourist](http://theglamourist.com/)
  ------------------------------------------------
  This site (www.theglamourist.com) has been designed to keep you informed of my latest work, experiences, stories and as an avenue to view my portfolio.

.notes
  the margin is too small 
  to contain such 
  awesomeness
