!link = #069

!medium = 20px
!large = 24px

!left_margin = 220px

@font-face
  :font-family imfellgreatprimer
  :src url('/fonts/imfellclass28/FeGPrm27C.otf')
@font-face
  :font-family imfellgreatprimer
  :font-style italic
  :src url('/fonts/imfellclass28/FeGPit27C.otf')

body
  :font-family imfellgreatprimer, serif
  :font-size = !medium
  :text-align center
  :margin 0px
  :padding 0px
  :min-width 820px
  :background-color #ffffea
  :background -webkit-gradient(linear, left top, right top, from(#ffffec), to(#fffff0))
  :border-width 37px 75px 40px 36px
  :-webkit-border-image url('/images/book.png') 37 75 30 36 stretch stretch

//h1, h2, h3, h4, h5, h6
  //:font-family imfelldwpica, serif

a
  :color = !link
  :text-decoration none
  &:hover
    :text-decoration underline

p
  :margin 25px 0px

.logo
  :word-spacing -6px

#page
  :width 800px
  :text-align left
  :margin 0px auto
#contents
  :padding 8px 20px 0px #{!left_margin}
  :background url('/images/ruled.png') repeat
  :border-right 2px solid #d8ccae
  p:first-child
    :margin-top 0px

nav
  h1
    :float left
    :margin-top 0px
  ul
    :list-style-type none
    :padding 18px 0px 0px
    :margin-left = !left_margin
    li
      :display inline
      :margin-left 10px
      &:first-child
        :margin-left 0px
  .current a
    :text-decoration underline
