!link = #069
!grid = #eae4d2
!sepia = !grid - #666

!tiny = 12px
!small = 16px
!medium = 19px

!left_margin = 220px

@font-face
  :font-family imfellgreatprimer
  :src url('/fonts/imfellclass28/FeGPrm27C.otf')
@font-face
  :font-family imfellgreatprimer
  :font-style italic
  :src url('/fonts/imfellclass28/FeGPit27C.otf')

body, input, textarea
  :font-family imfellgreatprimer, serif
  :font-size = !medium

body
  :text-align center
  :margin 0px
  :padding 0px
  :min-width 820px
  :background-color #ffffea
  :background -webkit-gradient(linear, left top, right top, from(#ffffec), to(#ffffee))
  :border-width 37px 75px 40px 36px
  :-webkit-border-image url('/images/book.png') 37 75 30 36 stretch stretch

input, textarea
  :border 1px solid #{!grid}
  :padding 5px
input[type=submit], button
  :background-color = !sepia
  :color #fff
  :text-shadow #{!sepia - #333} 0px -1px 0px

a
  :color = !link
  :text-decoration none
  &:hover
    :text-decoration underline

.logo
  :word-spacing -6px

#page
  :width 800px
  :text-align left
  :margin 0px auto
nav
  h1
    :float left
    :margin-top 0px
  ul
    :list-style-type none
    :padding 18px 0px 0px
    :margin-left = !left_margin
    li
      :display inline
      :margin-left 10px
      &:first-child
        :margin-left 0px
  .current a
    :text-decoration underline
#contents
  :min-height 600px
  :padding 8px 20px 0px #{!left_margin}
  :background url('/images/ruled.png') repeat
  :border-right 2px solid #{!grid}
  :line-height 180%
  p:first-child
    :margin-top 0px

.notes
  :font-size = !tiny
  :font-family 'handwriting - dakota', cursive
  :line-height 140%
  :opacity 0.8
  :position absolute
  :top 400px
  :left 60px
  :-webkit-transform rotate(-10deg)
  em
    :margin-right 5px
    :color = !sepia

#footer, #page-number
  :font-size = !small
  :color = !sepia
#page-number
  :position absolute
  :top 20px
  :right 50px

body.contact
  input[type=text], textarea
    :width 80%
  textarea
    :height 8em
